# SK learn 
## missing value
1. fill missing values 
2. removing missing values

In [9]:
#  import's
import pandas as pd
import numpy as np

#  reading CSV 
data_set = pd.read_csv('./missing-data.csv')
data_set.head()
data_set.isna().sum() # NAN col's

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

## fill nan values

In [8]:
data_set.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [14]:
# make col  
data_set['Make'].fillna("missing",inplace=True)
# color
data_set['Colour'].fillna("missing",inplace=True)
# 
data_set['Odometer (KM)'].fillna(data_set['Odometer (KM)'].mean(),inplace=True)
# door's 
data_set['Doors'].fillna(4,inplace=True)

In [5]:
data_set.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

## remove NAN (dropna) from prices since its a lable (to predict)

In [11]:
# before_removing = len(data_set)
data_set.dropna(inplace=True)
data_set.isna().sum()
# after_removing = len(data_set)

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

# SK learn model

In [15]:
data_set.dtypes
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# seed value : 
np.random.seed(0)
# feactures and label's 
X = data_set.drop('Price',axis=1)
y = data_set['Price']

#  convert non-numeric to numeric : 
cat_col = ['Make','Colour',"Doors"]
encoder = OneHotEncoder()
col_transfromation = ColumnTransformer([('encoder',encoder,cat_col)],remainder='passthrough')
trans_x = col_transfromation.fit_transform(X)
trans_x = col_transfromation.fit_transform(data_set)
# pd.DataFrame(trans_x).head()
# data_set["Price"].dtype

# define model : 
model = RandomForestRegressor()
X_train , X_test , y_train, y_test = train_test_split(trans_x , y, train_size=0.2)
fit = model.fit(X_train,y_train)
score = model.score(X_test,y_test)

In [17]:

data_set.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

# fill missing values  with Scikit-Learn :