# ML - Sickit learn 
## Four stept's involved
- get value (data's)
- feactures and label
- train and test (split)
- non-numeric to numeric (to convert)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sea
import matplotlib as plt

num_data = pd.read_csv('../matplotlib/heart-disease.csv')

# with all numerical values

In [7]:
num_data.head()
#  ml model 

#  feactures and label : 
X = num_data.drop('target',axis=1)
y = num_data['target']

# train and test 
np.random.seed(100)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
X_train ,X_test,y_train,y_test = train_test_split(X,y, train_size=0.3)

model = RandomForestRegressor()

# fit and and score
model.fit(X_train,y_train)
model.score(X_test,y_test)

# data_frame : num_data dtypes in all numrical types :

0.4435817718576792

# without numerical values
-  when haveing a colum in non-numerical , should convert into array(numerical) value

In [8]:
non_num = pd.read_csv('non_num_data.csv')
non_num.rename(columns={"sex":"gender"},inplace=True)
non_num.head()

   total_bill   tip  gender smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## convert the non-numerical values

In [9]:
#  convert to numerical values
X_2 = non_num.drop(['total_bill','tip','gender'],axis=1)
X_2.head()
y_2 = non_num['gender']

# frames = pd.DataFrame(y_2)
# frames.head()
X_2_train , X_2_test , y_2_train ,y_2_test = train_test_split(X_2 , y_2 , train_size=0.2)

# building a ML model 
# model.fit(X_2_train,y_2_train)
# model.score(X_2_test,y_2_test)

In [29]:
X_2.head()

  smoker  day    time  size
0     No  Sun  Dinner     2
1     No  Sun  Dinner     3
2     No  Sun  Dinner     3
3     No  Sun  Dinner     2
4     No  Sun  Dinner     4

In [11]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
 
cat_col = ['smoker','day','time','size']

one_encode = OneHotEncoder()
trans = ColumnTransformer([('one_encode',one_encode,cat_col)],remainder='passthrough')

trans_x = trans.fit_transform(X_2)
# pd.DataFrame(trans_x).columns
col_x = pd.get_dummies(X_2)
col_y = pd.get_dummies(y_2)
col_y.head()
col_x.head()

,size,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,2,1,0,0,0,1,0,1,0
1,3,1,0,0,0,1,0,1,0
2,3,1,0,0,0,1,0,1,0
3,2,1,0,0,0,1,0,1,0
4,4,1,0,0,0,1,0,1,0

## bulit ML model

In [18]:
np.random.seed(100)
#  new x and y == trans_x and col_y
X_2_train , X_2_test , y_2_train ,y_2_test = train_test_split(trans_x , col_y , train_size=0.2)

# building a ML model 
fit = model.fit(X_2_train,y_2_train)
score = model.score(X_2_test,y_2_test)

In [19]:
fit

RandomForestRegressor()

In [16]:
score

-0.18405183369437206

In [23]:
car_data = pd.read_csv('./car-sales-extended.csv')
car_data.head()
#  fea and lables :

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043