# SK learn 
## missing value
1. fill missing values 
2. removing missing values

In [1]:
#  import's
import pandas as pd
import numpy as np

#  reading CSV 
data_set = pd.read_csv('./missing-data.csv')
data_set.head()
data_set.isna().sum() # NAN col's

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

# fill nan values

In [ ]:
data_set.columns

In [ ]:
# make col  
data_set['Make'].fillna("missing",inplace=True)
# color
data_set['Colour'].fillna("missing",inplace=True)
# 
data_set['Odometer (KM)'].fillna(data_set['Odometer (KM)'].mean(),inplace=True)
# door's 
data_set['Doors'].fillna(4,inplace=True)

In [5]:
data_set.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

## remove NAN (dropna) from prices since its a lable (to predict)

In [ ]:
# before_removing = len(data_set)
data_set.dropna(inplace=True)
data_set.isna().sum()
# after_removing = len(data_set)

# SK learn model

In [ ]:
data_set.dtypes
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# seed value : 
np.random.seed(0)
# feactures and label's 
X = data_set.drop('Price',axis=1)
y = data_set['Price']

#  convert non-numeric to numeric : 
cat_col = ['Make','Colour',"Doors"]
encoder = OneHotEncoder()
col_transfromation = ColumnTransformer([('encoder',encoder,cat_col)],remainder='passthrough')
trans_x = col_transfromation.fit_transform(X)
trans_x = col_transfromation.fit_transform(data_set)
# pd.DataFrame(trans_x).head()
# data_set["Price"].dtype

# define model : 
model = RandomForestRegressor()
X_train , X_test , y_train, y_test = train_test_split(trans_x , y, train_size=0.2)
fit = model.fit(X_train,y_train)
score = model.score(X_test,y_test)

In [17]:

data_set.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

# fill missing values  with Scikit-Learn :

In [20]:
sk_data = pd.read_csv('./missing-data.csv')
sk_data.tail()
sk_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [23]:
sk_data.dropna(subset=['Price'],inplace=True)
sk_data.isna().sum()

#  split x nad y 
X = sk_data.drop('Price',axis=1)
y = sk_data["Price"]

0    15323.0
1    19943.0
2    28343.0
3    13434.0
4    14043.0
Name: Price, dtype: float64

 ## fill values with SK-learn

In [36]:
new_data = pd.read_csv('./missing-data.csv')
new_data.isna().sum() # know the mising col's
new_data.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [68]:
# prcessing : 
# import's

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import numpy as np
np.random.seed(100)
#  removing of all NAN values : 
new_data.dropna(subset=['Price'],inplace=True)
new_data.isna().sum()

#  split on X and y : 
X = new_data.drop('Price',axis=1)

y = new_data['Price']

# filling missing values : catogerial with "missing" and numerical with "sum"
# impute colums :
cato_imputer = SimpleImputer(strategy='constant',fill_value="miss")
door_imputer = SimpleImputer(strategy='constant',fill_value=4)
num_imputer  = SimpleImputer(strategy='mean')

# column 
cato_col = ["Make",'Colour']
door_col = ['Doors']
num_col = ['Odometer (KM)']

# new
imputer = ColumnTransformer(
    [("col_1",cato_imputer,cato_col),("col_2",door_imputer,door_col),("col_3",num_imputer,num_col)]
                           )

transformed = imputer.fit_transform(X)
data_set_2 = pd.DataFrame(transformed,columns=['Make','Colour','Door','Odometer (KM)'])
data_set_2.head()

# to convert non-numeric to numiric : 
feac = ['Make','Colour','Door']
one = OneHotEncoder()
col = ColumnTransformer([('colum_trans',one,feac)],remainder='passthrough')
col = col.fit_transform(data_set_2)
col
# model 
X_c_train , X_c_test , y_c_train , y_c_test = train_test_split(col , y, train_size = 0.2) 
model = RandomForestRegressor()
fit = model.fit(X_c_train,y_c_train)
score = model.score(X_c_test , y_c_test)
fit
score

0.22165984531250327

In [75]:
data_set_2.head()

     Make Colour Door Odometer (KM)
0   Honda  White    4         35431
1     BMW   Blue    5        192714
2   Honda  White    4         84714
3  Toyota  White    4        154365
4  Nissan   Blue    3        181577